<!DOCTYPE html>
<html>
<head>
    <title>用户管理</title>
    {% include 'admin/common/header.html' %}</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">设备名</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">角色标识</label>
                <div class="layui-input-inline">
                    <input type="text" name="roleCode" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="role-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="role-table" lay-filter="role-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="role-toolbar">
    {% if authorize("admin:role:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:role:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    {% endif %}
</script>

<script type="text/html" id="role-bar">
    {% if authorize("admin:role:edit") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"></i>
        </button>
    {% endif %}

    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="detail"><i
            class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="images"><i
            class="layui-icon layui-icon-table"></i>
    </button>

    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="container"><i
            class="layui-icon layui-icon-spread-left"></i>
    </button>
    {% if authorize("admin:role:remove") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                class="layui-icon layui-icon-delete"></i>
        </button>
    {% endif %}
</script>

<script type="text/html" id="docker-enable">
    {{ '{{#if (d.is_online==true) { }}
    <span style="color: blue">在线</span>
    {{# }else if(d.is_online == false){ }}
    <span style="color: gray">离线</span>
    {{# } }}'|safe }}
</script>
{% include 'admin/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let popup = layui.popup

        let MODULE_PATH = '/docker/'

        let cols = [
            [
                {% if authorize("admin:role:remove") %}
                    {type: 'checkbox'},
                {% endif %}
                {title: 'id', field: 'id', align: 'center'},
                {title: '名称', field: 'name', align: 'center', width: 100},
                {title: 'docker api', field: 'docker_api', align: 'center'},
                {title: 'ip', field: 'ip', align: 'center'},
                {title: '是否在线', field: 'is_online', align: 'center', templet: '#docker-enable'},
                {title: '备注', field: 'remark', align: 'center'},
                {title: '操作', toolbar: '#role-bar', align: 'center', width: 250}
            ]
        ]

        table.render({
            elem: '#role-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#role-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        })

        table.on('tool(role-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj)
            } else if (obj.event === 'edit') {
                window.edit(obj)
            } else if (obj.event === 'power') {
                window.power(obj)
            } else if (obj.event === 'detail') {
                window.detail(obj)
            } else if (obj.event === 'images') {
                window.images(obj)
            }
            else if (obj.event === 'container') {
                window.container(obj)
            }
        })

        table.on('toolbar(role-table)', function (obj) {
            if (obj.event === 'add') {
                window.add()
            } else if (obj.event === 'refresh') {
                window.refresh()
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj)
            }
        })

        form.on('submit(role-query)', function (data) {
            table.reload('role-table', {where: data.field})
            return false
        })


        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'add'
            })
        }

        window.power = function (obj) {
            layer.open({
                type: 2,
                title: '授权',
                shade: 0.1,
                area: ['320px', '400px'],
                content: MODULE_PATH + 'power/' + obj.data['id']
            })
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + '/edit/' + obj.data['id']
            })
        }
        window.detail = function (obj) {
            layer.open({
                type: 2,
                title: '详情',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'detail/' + obj.data['id']
            })
        }
        window.images = function (obj) {
            var index = layer.open({
                type: 2,
                title: '镜像',
                shade: 0.1,
                area: ['auto'],
                content: MODULE_PATH + '/host/' + obj.data['id']+'/images'
            })
            layer.full(index)
        }

     window.container = function (obj) {
            var index = layer.open({
                type: 2,
                title: '容器',
                shade: 0.1,
                area: ['auto'],
                content: MODULE_PATH + '/containers/' + obj.data['id']
            })
            layer.full(index)
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该主机', {icon: 3, title: '提示'}, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + '/host/' + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del()
                            })
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000})
                        }
                    }
                })
            })
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data
            if (data.length === 0) {
                layer.msg('未选中数据', {
                    icon: 3,
                    time: 1000
                })
                return false
            }
            var ids = []
            var hasCheck = table.checkStatus('role-table')
            var hasCheckData = hasCheck.data
            if (hasCheckData.length > 0) {
                $.each(hasCheckData, function (index, element) {
                    ids.push(element.id)
                })
            }
            console.log(ids)
            layer.confirm('确定要删除选中角色', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({

                    url: MODULE_PATH + 'batchRemove',
                    data: {ids: ids},
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            popup.success(result.msg, function () {
                                table.reload('role-table')
                            })
                        } else {
                            popup.failure(result.msg)
                        }
                    }
                })
            })
        }

        window.refresh = function () {
            table.reload('role-table')
        }
    })
</script>
</html>